<div>
  <h3>Affiches des Barrages à la Final </h3>
   <div>
    <table class="table table-hover">
      <tbody class="table-primary">
        <th>Barrage</th>
        <th>.</th>
        <th>8ème</th>
        <th>.</th>
        <th>Quart</th>
        <th>.</th>
        <th>Demi</th>
        <th>.</th>
        <th>Final</th>
        <th>.</th>
        <th>Demi</th>
        <th>.</th>
        <th>Quart</th>
        <th>.</th>
        <th>8ème</th>
        <th>.</th>
        <th>Barrage</th>
      </tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
   </div>
</div>
